/* Base */
:root {
  --black: #1a1a1a;
  --light-grey: #2D2D2D;
  --dark-grey: #212121;
  --white: white;
  --green:#55dd55;
  --blue: #3366cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Hack", "monospace";
  font-size: 1rem;
  color: var(--white);
  background-color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Specific */
.header {
  display:flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em 2em;
  color: var(--white);
  background-color: var(--light-grey);
}

.header input {
  font-family: "Hack", "monospace";
  background: transparent;
  caret-color: var(--white);
  color: var(--white);
  border: none;
  outline: none;

  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
  height: auto;
}


.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.intro {
  display: flex;
  align-items: center;
  border-radius: 1em;

  padding: 1.5em 1.5em;
  gap: 1em;
  background-color: var(--light-grey);
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1em;
}

.presentation p {
  width: 35ch;
}

#user {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding: 1em 2em;
  font-size:1rem;

  background-color: var(--light-grey);
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.directory
{
  border-color: var(--blue);
  color: var(--blue);
}

.file
{
  border-color: var(--green);
  color: var(--green);
}

.btn {
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--dark-grey);
}

.btn-little {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.btn-big {
  padding: 1rem 2rem;
  font-size: 1rem;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.error h1 {
  font-size: 5rem;
}

.project {
  background-color: var(--dark-beige);
}

.projectHeader {
}